extends layout

block content
  h1 #{title}
  p  Endpoints:
  p  POST  {url}/property/area
  p  POST {url}/property/product
  p  POST {url}/property/spendings
  p  POST {url}/property/implicit-costs
  p  POST {url}/property/profit

